<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Lista de alumnos</title>
        <link rel="stylesheet" type="text/css"	href="style.css">

    </head>
    <body ng-controller="AlumnosController">
        
            <h1>Lista de Alumnos</h1>
            <div class="wrapper">
            	<div class="contact-item" ng-repeat="alumno in alumnos | orderBy:'nombre'">
             <div class="nombre">   {{alumno.nombre}} {{alumno.telefono}} </div>
			<span class="curso">{{alumno.curso}}</span>
            	</div>
            </div>
        </br>
		<center><button ng-click="ShowForm()" ng-hide="formVisibility"> Nuevo Contacto</button></center>
        <div ng-show="formVisibility" class="wrapper">
        	<h2>Nuevo Contacto</h2>
        	Nombre: <input type="text" ng-model="nuevoAlumno.nombre"></input>
			Telefono: <input type="text" ng-model="nuevoAlumno.telefono"></input>
			Curso: <input type="text" ng-model="nuevoAlumno.curso"></input>
			<button ng-click="Save()">Guardar</button>
        </div>



        <script type="text/javascript" src="angular.min.js" ></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>